Notebook experimenting with functions to process abf files.

Created: April 14, 2025

In [2]:
import pyabf
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

Steps:
- Convert .csv files into readable data frames
- Convert .abf files into data frames with time and current

def process_csv_annotations(file_path):

    df_raw = pd.read_csv(filepath, header=None)

In [ ]:
def process_csv_annotations(file_path):

    df_raw = pd.read_csv(file_path, header=None)

    # df_raw = df_raw.dropna()

    # Get an array with just types of signals 
    trace_types = df_raw.iloc[0]


    
    trace_types = trace_types[~np.isnan(trace_types)]

In [13]:
df = pd.read_csv('/Users/Haley/Desktop/Neuroscience Lab/4dpf_VC_MN_Mac_2012_04_25_cell1.csv')
print(df.head())

   Unnamed: 0       Inhibitory Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0         NaN       Trace name         ID    On time  Frequency
1         NaN  2012_04_25_0004          1    1285.99        NaN
2         NaN  2012_04_25_0004          2    1305.92    50.1756
3         NaN  2012_04_25_0004          3    1340.95     28.547
4         NaN  2012_04_25_0004          4     1371.3    32.9489

          Unnamed: 5  Unnamed: 6       Unnamed: 7 Excitatory Unnamed: 9  ...  \
0   Swim description         NaN       Trace name         ID    On time  ...
1  bout start; shock         NaN  2012_04_25_0000          1    4945.88  ...
2                NaN         NaN  2012_04_25_0000          2    4964.08  ...
3                NaN         NaN  2012_04_25_0000          3    4986.86  ...
4                NaN         NaN  2012_04_25_0000          4    5014.33  ...

  Unnamed: 30 Unnamed: 31  Unnamed: 32 Unnamed: 33 Unnamed: 34 Unnamed: 35  \
0         NaN         NaN          NaN         NaN         NaN         NaN
1         NaN         NaN          NaN         NaN         NaN         NaN
2         NaN         NaN          NaN         NaN         NaN         NaN
3         NaN         NaN          NaN         NaN         NaN         NaN
4         NaN         NaN          NaN         NaN         NaN         NaN

  Channel events Unnamed: 37       Unnamed: 38  Unnamed: 39
0        Channel     On Time  Duration (in ms)  Description
1            NaN         NaN               NaN          NaN
2            NaN         NaN               NaN          NaN
3            NaN         NaN               NaN          NaN
4            NaN         NaN               NaN          NaN

[5 rows x 40 columns]

In [5]:
filepath = '/Users/Haley/Desktop/Neuroscience Lab/4dpf_VC_MN_Mac_2012_04_25_cell1.csv'
# Read CSV, skip initial empty lines and infer header
df_raw = pd.read_csv(filepath, header=None)
print(df_raw)
# Try to find the row containing "Trace name" to locate the header
header_row = df_raw.apply(lambda row: row.astype(str).str.contains("Trace name", na=False)).any(axis=1).idxmax()
print(header_row)

# Re-read the file using that header row as column names

    0                1    2        3          4                  5   6   \
0  NaN       Inhibitory  NaN      NaN        NaN                NaN NaN
1  NaN       Trace name   ID  On time  Frequency   Swim description NaN
2  NaN  2012_04_25_0004    1  1285.99        NaN  bout start; shock NaN
3  NaN  2012_04_25_0004    2  1305.92    50.1756                NaN NaN
4  NaN  2012_04_25_0004    3  1340.95     28.547                NaN NaN
..  ..              ...  ...      ...        ...                ...  ..
82 NaN  2012_04_25_0006   39  6781.74    44.8029                NaN NaN
83 NaN  2012_04_25_0006   40  6808.76    37.0096                NaN NaN
84 NaN  2012_04_25_0006   41  6838.52    33.6022                NaN NaN
85 NaN  2012_04_25_0006   42  6873.59    28.5144                NaN NaN
86 NaN  2012_04_25_0006   43  6907.67    29.3427           bout end NaN

                 7           8        9   ...  30  31  32  33  34  35  \
0               NaN  Excitatory      NaN  ... NaN NaN NaN NaN NaN NaN
1        Trace name          ID  On time  ... NaN NaN NaN NaN NaN NaN
2   2012_04_25_0000           1  4945.88  ... NaN NaN NaN NaN NaN NaN
3   2012_04_25_0000           2  4964.08  ... NaN NaN NaN NaN NaN NaN
4   2012_04_25_0000           3  4986.86  ... NaN NaN NaN NaN NaN NaN
..              ...         ...      ...  ...  ..  ..  ..  ..  ..  ..
82              NaN         NaN      NaN  ... NaN NaN NaN NaN NaN NaN
83              NaN         NaN      NaN  ... NaN NaN NaN NaN NaN NaN
84              NaN         NaN      NaN  ... NaN NaN NaN NaN NaN NaN
85              NaN         NaN      NaN  ... NaN NaN NaN NaN NaN NaN
86              NaN         NaN      NaN  ... NaN NaN NaN NaN NaN NaN

                36       37                38           39
0   Channel events      NaN               NaN          NaN
1          Channel  On Time  Duration (in ms)  Description
2              NaN      NaN               NaN          NaN
3              NaN      NaN               NaN          NaN
4              NaN      NaN               NaN          NaN
..             ...      ...               ...          ...
82             NaN      NaN               NaN          NaN
83             NaN      NaN               NaN          NaN
84             NaN      NaN               NaN          NaN
85             NaN      NaN               NaN          NaN
86             NaN      NaN               NaN          NaN

[87 rows x 40 columns]
1
    Unnamed: 0       Trace name  ID  On time  Frequency   Swim description  \
0          NaN  2012_04_25_0004   1  1285.99        NaN  bout start; shock
1          NaN  2012_04_25_0004   2  1305.92    50.1756                NaN
2          NaN  2012_04_25_0004   3  1340.95    28.5470                NaN
3          NaN  2012_04_25_0004   4  1371.30    32.9489                NaN
4          NaN  2012_04_25_0004   5  1405.23    29.4724           bout end
..         ...              ...  ..      ...        ...                ...
80         NaN  2012_04_25_0006  39  6781.74    44.8029                NaN
81         NaN  2012_04_25_0006  40  6808.76    37.0096                NaN
82         NaN  2012_04_25_0006  41  6838.52    33.6022                NaN
83         NaN  2012_04_25_0006  42  6873.59    28.5144                NaN
84         NaN  2012_04_25_0006  43  6907.67    29.3427           bout end

    Unnamed: 6     Trace name.1  ID.1  On time.1  ...  Unnamed: 30  \
0          NaN  2012_04_25_0000   1.0    4945.88  ...          NaN
1          NaN  2012_04_25_0000   2.0    4964.08  ...          NaN
2          NaN  2012_04_25_0000   3.0    4986.86  ...          NaN
3          NaN  2012_04_25_0000   4.0    5014.33  ...          NaN
4          NaN  2012_04_25_0000   5.0    5046.28  ...          NaN
..         ...              ...   ...        ...  ...          ...
80         NaN              NaN   NaN        NaN  ...          NaN
81         NaN              NaN   NaN        NaN  ...          NaN
82         NaN              NaN   NaN        NaN  ...          NaN
83         NaN              NaN   NaN        NaN  ...          NaN
84         NaN              NaN   NaN        NaN  ...          NaN

   Unnamed: 31  Unnamed: 32 Unnamed: 33 Unnamed: 34 Unnamed: 35 Channel  \
0          NaN          NaN         NaN         NaN         NaN     NaN
1          NaN          NaN         NaN         NaN         NaN     NaN
2          NaN          NaN         NaN         NaN         NaN     NaN
3          NaN          NaN         NaN         NaN         NaN     NaN
4          NaN          NaN         NaN         NaN         NaN     NaN
..         ...          ...         ...         ...         ...     ...
80         NaN          NaN         NaN         NaN         NaN     NaN
81         NaN          NaN         NaN         NaN         NaN     NaN
82         NaN          NaN         NaN         NaN         NaN     NaN
83         NaN          NaN         NaN         NaN         NaN     NaN
84         NaN          NaN         NaN         NaN         NaN     NaN

   On Time  Duration (in ms)  Description
0      NaN               NaN          NaN
1      NaN               NaN          NaN
2      NaN               NaN          NaN
3      NaN               NaN          NaN
4      NaN               NaN          NaN
..     ...               ...          ...
80     NaN               NaN          NaN
81     NaN               NaN          NaN
82     NaN               NaN          NaN
83     NaN               NaN          NaN
84     NaN               NaN          NaN

[85 rows x 40 columns]

In [6]:
df = pd.read_csv(filepath, header=header_row)
print(df)

    Unnamed: 0       Trace name  ID  On time  Frequency   Swim description  \
0          NaN  2012_04_25_0004   1  1285.99        NaN  bout start; shock
1          NaN  2012_04_25_0004   2  1305.92    50.1756                NaN
2          NaN  2012_04_25_0004   3  1340.95    28.5470                NaN
3          NaN  2012_04_25_0004   4  1371.30    32.9489                NaN
4          NaN  2012_04_25_0004   5  1405.23    29.4724           bout end
..         ...              ...  ..      ...        ...                ...
80         NaN  2012_04_25_0006  39  6781.74    44.8029                NaN
81         NaN  2012_04_25_0006  40  6808.76    37.0096                NaN
82         NaN  2012_04_25_0006  41  6838.52    33.6022                NaN
83         NaN  2012_04_25_0006  42  6873.59    28.5144                NaN
84         NaN  2012_04_25_0006  43  6907.67    29.3427           bout end

    Unnamed: 6     Trace name.1  ID.1  On time.1  ...  Unnamed: 30  \
0          NaN  2012_04_25_0000   1.0    4945.88  ...          NaN
1          NaN  2012_04_25_0000   2.0    4964.08  ...          NaN
2          NaN  2012_04_25_0000   3.0    4986.86  ...          NaN
3          NaN  2012_04_25_0000   4.0    5014.33  ...          NaN
4          NaN  2012_04_25_0000   5.0    5046.28  ...          NaN
..         ...              ...   ...        ...  ...          ...
80         NaN              NaN   NaN        NaN  ...          NaN
81         NaN              NaN   NaN        NaN  ...          NaN
82         NaN              NaN   NaN        NaN  ...          NaN
83         NaN              NaN   NaN        NaN  ...          NaN
84         NaN              NaN   NaN        NaN  ...          NaN

   Unnamed: 31  Unnamed: 32 Unnamed: 33 Unnamed: 34 Unnamed: 35 Channel  \
0          NaN          NaN         NaN         NaN         NaN     NaN
1          NaN          NaN         NaN         NaN         NaN     NaN
2          NaN          NaN         NaN         NaN         NaN     NaN
3          NaN          NaN         NaN         NaN         NaN     NaN
4          NaN          NaN         NaN         NaN         NaN     NaN
..         ...          ...         ...         ...         ...     ...
80         NaN          NaN         NaN         NaN         NaN     NaN
81         NaN          NaN         NaN         NaN         NaN     NaN
82         NaN          NaN         NaN         NaN         NaN     NaN
83         NaN          NaN         NaN         NaN         NaN     NaN
84         NaN          NaN         NaN         NaN         NaN     NaN

   On Time  Duration (in ms)  Description
0      NaN               NaN          NaN
1      NaN               NaN          NaN
2      NaN               NaN          NaN
3      NaN               NaN          NaN
4      NaN               NaN          NaN
..     ...               ...          ...
80     NaN               NaN          NaN
81     NaN               NaN          NaN
82     NaN               NaN          NaN
83     NaN               NaN          NaN
84     NaN               NaN          NaN

[85 rows x 40 columns]

In [15]:
df = df_raw.iloc[header_row+1:, :]
df.columns = df_raw.iloc[header_row]
print(df)
print(df.columns)

1  NaN       Trace name  ID  On time Frequency   Swim description NaN  \
2  NaN  2012_04_25_0004   1  1285.99       NaN  bout start; shock NaN
3  NaN  2012_04_25_0004   2  1305.92   50.1756                NaN NaN
4  NaN  2012_04_25_0004   3  1340.95    28.547                NaN NaN
5  NaN  2012_04_25_0004   4   1371.3   32.9489                NaN NaN
6  NaN  2012_04_25_0004   5  1405.23   29.4724           bout end NaN
..  ..              ...  ..      ...       ...                ...  ..
82 NaN  2012_04_25_0006  39  6781.74   44.8029                NaN NaN
83 NaN  2012_04_25_0006  40  6808.76   37.0096                NaN NaN
84 NaN  2012_04_25_0006  41  6838.52   33.6022                NaN NaN
85 NaN  2012_04_25_0006  42  6873.59   28.5144                NaN NaN
86 NaN  2012_04_25_0006  43  6907.67   29.3427           bout end NaN

1        Trace name   ID  On time  ... NaN NaN NaN NaN NaN NaN Channel  \
2   2012_04_25_0000    1  4945.88  ... NaN NaN NaN NaN NaN NaN     NaN
3   2012_04_25_0000    2  4964.08  ... NaN NaN NaN NaN NaN NaN     NaN
4   2012_04_25_0000    3  4986.86  ... NaN NaN NaN NaN NaN NaN     NaN
5   2012_04_25_0000    4  5014.33  ... NaN NaN NaN NaN NaN NaN     NaN
6   2012_04_25_0000    5  5046.28  ... NaN NaN NaN NaN NaN NaN     NaN
..              ...  ...      ...  ...  ..  ..  ..  ..  ..  ..     ...
82              NaN  NaN      NaN  ... NaN NaN NaN NaN NaN NaN     NaN
83              NaN  NaN      NaN  ... NaN NaN NaN NaN NaN NaN     NaN
84              NaN  NaN      NaN  ... NaN NaN NaN NaN NaN NaN     NaN
85              NaN  NaN      NaN  ... NaN NaN NaN NaN NaN NaN     NaN
86              NaN  NaN      NaN  ... NaN NaN NaN NaN NaN NaN     NaN

1  On Time  Duration (in ms)  Description
2      NaN               NaN          NaN
3      NaN               NaN          NaN
4      NaN               NaN          NaN
5      NaN               NaN          NaN
6      NaN               NaN          NaN
..     ...               ...          ...
82     NaN               NaN          NaN
83     NaN               NaN          NaN
84     NaN               NaN          NaN
85     NaN               NaN          NaN
86     NaN               NaN          NaN

[85 rows x 40 columns]
Index([                            nan,                    'Trace name',
                                  'ID',                       'On time',
                           'Frequency',              'Swim description',
                                   nan,                    'Trace name',
                                  'ID',                       'On time',
                           'Frequency',              'Swim description',
                                   nan,                             nan,
                  'Inhibitory Current',             'Inhibitory Charge',
       'Normalized Inhibitory Current',  'Normalized Inhibitory Charge',
                                   nan,                             nan,
                                   nan,                             nan,
                                   nan,                             nan,
                                   nan,                             nan,
                                   nan,                             nan,
                                   nan,                             nan,
                                   nan,                             nan,
                                   nan,                             nan,
                                   nan,                             nan,
                             'Channel',                       'On Time',
                    'Duration (in ms)',                   'Description'],
      dtype='object', name=1)

In [16]:
df_long = pd.DataFrame()

# Assume each group has 5 columns (adjust if needed)
n_groups = len(df.columns) // 5
for i in range(n_groups):
    group = df[[f"Trace name_{i}", f"ID_{i}", f"On time_{i}", f"Freq_{i}", f"Tags_{i}"]].copy()
    group.columns = ['Trace name', 'ID', 'On time', 'Freq', 'Tags']
    df_long = pd.concat([df_long, group], ignore_index=True)

KeyError: "None of [Index(['Trace name_0', 'ID_0', 'On time_0', 'Freq_0', 'Tags_0'], dtype='object', name=1)] are in the [columns]"

In [11]:

# Create combined dataframe with label (Inhibitory, Excitatory, Cell attached, etc.)
all_data = []
for group in possible_groups:
    trace_col = group[0]
    trace_name = df[trace_col].dropna().astype(str).iloc[0]
    
    if 'inhibitory' in trace_name.lower():
        label = 'Inhibitory'
    elif 'excitatory' in trace_name.lower():
        label = 'Excitatory'
    elif 'cell' in trace_name.lower():
        label = 'Cell attached'
    else:
        label = 'Unknown'

    sub_df = df[list(group)].dropna(how='all')
    sub_df.columns = ['Trace name', 'ID', 'On time', 'Freq', 'Tags']
    sub_df['Type'] = label
    all_data.append(sub_df)
print(sub_df)

# combined = pd.concat(all_data, ignore_index=True)
# print(combined)

NameError: name 'sub_df' is not defined

Code to process excel spreadsheet into readable data frame with 'Trace name' as the index.

In [4]:
import pandas as pd

def load_and_clean_csv(filepath):
    # Read the raw CSV , headers are irregular
    df_raw = pd.read_csv(filepath, header=None)

    # The actual data starts from the 2nd row (index 1), so slice from there
    data = df_raw.iloc[1:]

    # Each block has 5 columns: Trace name, ID, On time, Freq, Tags
    num_cols = df_raw.shape[1]
    block_size = 5

    # Find how many full 5-column blocks exist
    blocks = []
    for start in range(1, num_cols, block_size + 1):  # +1 accounts for those extra separators
        end = start + block_size
        if end <= num_cols:
            block = data.iloc[:, start:end]
            block.columns = ['Trace name', 'ID', 'On time', 'Frequency', 'Swim description']
            blocks.append(block)

    # Combine all blocks into one DataFrame
    df_clean = pd.concat(blocks, ignore_index=True)

    # Drop rows that are completely empty 
    df_clean = df_clean.dropna(how='all')

    # Set index to trace name and delete first row with column labels
    df_clean.set_index('Trace name',inplace=True)
    df_clean = df_clean.iloc[1:]
    return df_clean

,Trace name,ID,On time,Frequency,Swim description
0,Trace name,ID,On time,Frequency,Swim description
1,2012_04_25_0004,1,1285.99,NaN,bout start; shock
2,2012_04_25_0004,2,1305.92,50.1756,NaN
3,2012_04_25_0004,3,1340.95,28.547,NaN
4,2012_04_25_0004,4,1371.3,32.9489,NaN
...,...,...,...,...,...
182,EPSC,Access Resistance (MOhm),Input Resitance,Membrane Capacitance (pFarad),NaN
184,2012_04_25_0000,47.28,68.45,6.82,NaN
185,2012_04_25_0001,48.67,59.5,7.07,NaN
186,2012_04_25_0002,55.98,95.4,5.69,NaN
187,NaN,NaN,74.45,NaN,NaN

In [9]:
filepath = '/Users/Haley/Desktop/Neuroscience Lab/4dpf_VC_MN_Mac_2012_04_25_cell1.csv'
clean_csv = load_and_clean_csv(filepath)
clean_csv[1:]

,Trace name,ID,On time,Frequency,Swim description
1,2012_04_25_0004,1,1285.99,NaN,bout start; shock
2,2012_04_25_0004,2,1305.92,50.1756,NaN
3,2012_04_25_0004,3,1340.95,28.547,NaN
4,2012_04_25_0004,4,1371.3,32.9489,NaN
5,2012_04_25_0004,5,1405.23,29.4724,bout end
...,...,...,...,...,...
182,EPSC,Access Resistance (MOhm),Input Resitance,Membrane Capacitance (pFarad),NaN
184,2012_04_25_0000,47.28,68.45,6.82,NaN
185,2012_04_25_0001,48.67,59.5,7.07,NaN
186,2012_04_25_0002,55.98,95.4,5.69,NaN
187,NaN,NaN,74.45,NaN,NaN

In [16]:
othercsv = load_and_clean_csv('/Users/Haley/Desktop/Neuroscience Lab/4dpf_VC_MN_2012_08_31_cell1.csv')

          Trace name        ID   On time Frequency   Swim description
750  2012_08_31_0005       135   45164.8    0.0969  bout start; shock
751  2012_08_31_0005       136  45190.22   39.3391                NaN
752  2012_08_31_0005       137  45213.16    43.592                NaN
753  2012_08_31_0005       138  45236.93   42.0698                NaN
754  2012_08_31_0005       139   45273.2    27.571                NaN
..               ...       ...       ...       ...                ...
963               63  46401.69   47.9846       NaN                NaN
964               64  46404.16  404.8583       NaN                NaN
965               65  46432.41   35.3982       NaN                NaN
966               66  46463.94   31.7158       NaN                NaN
967               67  46494.27   32.9707       NaN                NaN

[143 rows x 5 columns]

In [35]:
# othercsv.set_index('Trace name',inplace=True)
# othercsv = othercsv.iloc[1:]
othercsv.head()
print(othercsv.loc['2012_08_31_0011'])

print(type(othercsv.loc['2012_08_31_0011']))

<class 'pandas.core.frame.DataFrame'>

6:08pm